<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>servlets.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarianForm</servlet-name>
        <servlet-class>servlets.AddLibrarianForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLibrarian</servlet-name>
        <servlet-class>servlets.ViewLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianBean</servlet-name>
        <servlet-class>beans.LibrarianBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBean</servlet-name>
        <servlet-class>beans.BookBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookBean</servlet-name>
        <servlet-class>beans.IssueBookBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookForm</servlet-name>
        <servlet-class>servlets.AddBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarian</servlet-name>
        <servlet-class>servlets.AddLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlets.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLibrarian</servlet-name>
        <servlet-class>servlets.DeleteLibrarian</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarianForm</servlet-name>
        <url-pattern>/AddLibrarianForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLibrarian</servlet-name>
        <url-pattern>/ViewLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianBean</servlet-name>
        <url-pattern>/LibrarianBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBean</servlet-name>
        <url-pattern>/BookBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookBean</servlet-name>
        <url-pattern>/IssueBookBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookForm</servlet-name>
        <url-pattern>/AddBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarian</servlet-name>
        <url-pattern>/AddLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLibrarian</servlet-name>
        <url-pattern>/DeleteLibrarian</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
